/* General */
:root {
    --max-width: 1280px;
    --min-width: 320px;
    --accent-colot: #00c2ff;
}

/*Padding no se añada al modelo de caja*/
* { box-sizing: border-box; } 

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: Roboto, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

/* Container */

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    min-width: var(--min-width);
    background-image: url('../img/blanco.jfif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header, .content, .footer {
    width: 100%;
    margin: 0 auto;
    padding: 1rem;

}

/* Header */
.header{
    max-width: var(--max-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    /* font-size: 42px;
    font-weight: bold; */
}

.logo_img{
    margin-right: .5rem;
    font-size: 42px;
    font-weight: bold;
}

.menu-list{
    margin: 0;
}

.menu-list_item{
    display: inline-block;
    margin: 0 .5rem;
    font-size: 24px;
}

.menu-list_item:last-child{
    margin-right: 0;
}

.book-appointment{
    background-color: var(--accent-colot);
    padding: 1rem 2rem;
}